<!-- <ion-header [translucent]="true" class="body">
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="body">
  <div class="arrow_back">
    <img src="../../../assets/icon/arrow_back_ios_new.svg">
  </div>
  <p class="header">Place your Finger</p>

  <div class="shape1">
    <p class="prem">2 Seats - Premium Class</p>
    <div class="line"></div>
    <div class="head3">
      <p class="gender">Adults</p>
      <p class="no">01</p>
    </div>
    <div class="line"></div>
    <div class="head3">
      <p class="gender1">Children</p>
      <p class="no1">01</p>
    </div>
    <div class="line"></div>
    <div class="head1">
      <p class="des">Destination</p>
      <p class="pay">Payment Date</p>
    </div>
    <div class="head2">
      <p class="ear">Earth to Mars</p>
      <p class="date">12 August 2023</p>
    </div>
    <div class="line"></div>
    <button class="mytrips">My Trips</button>
  </div>
  <img src="../../../assets/icon/Group 2912.svg" class="radio">

</ion-content>