<ion-content>
  <div class="back-button" (click)="back()">
    <ion-button size="small" color="secondary">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>

  <h1>Grab your snacks!</h1>

  <div class="slide-button">
    <ion-button *ngFor="let category of categories" (click)="selectButton(category)"
      [color]="selectedCategory === category ? 'secondary' : ''" fill="outline">{{ category }}</ion-button>
  </div>

  <!-- <div class="slide-button">
    <ion-button color="secondary">Snacks</ion-button>
    <ion-button fill="outline" color="secondary">Meals</ion-button>
    <ion-button fill="outline" color="secondary">Pluto Specials</ion-button>
    <ion-button fill="outline" color="secondary">other</ion-button>
  </div> -->

  <div class="first-div">
    <ion-item lines="none">
      <ion-label slot="start">Astro Bites</ion-label>
      <ion-label slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col *ngFor="let item of snacks">
        <ion-card>
          <div class="image-div">
            <!-- <img src="" /> -->
          </div>
          <span class="product-name">{{item.name}}</span>
          <span class="product-price">{{item.price}}</span>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="second-div">
    <ion-item lines="none">
      <ion-label slot="start">Galaxy Munchies</ion-label>
      <ion-label slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col *ngFor="let item of snacks">
        <ion-card>
          <div class="image-div">
            <!-- <img src="" /> -->
          </div>
          <span class="product-name">{{item.name}}</span>
          <span class="product-price">{{item.price}}</span>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-button color="secondary" (click)="skip()">Skip</ion-button>
  <ion-button (click)="continue()">Continue</ion-button>
</ion-footer>
