<ion-content [fullscreen]="true">
  <div class="img-div">
    <div class="back-button" (click)="back()">
      <ion-button size="small" color="secondary">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-img src="../../../assets/snacks.png"></ion-img>
  </div>
  <div class="h1-class">
    <span class="h1">Asteroid Cheese <br> Poppers</span>
  </div>
  <div class="eclips-class">
    <ion-img src="../../../assets/yellow-eclips.svg"></ion-img>
    <ion-img src="../../../assets/yellow-eclips.svg"></ion-img>
    <ion-img src="../../../assets/yellow-eclips.svg"></ion-img>
    <ion-img src="../../../assets/yellow-eclips.svg"></ion-img>
    <ion-img src="../../../assets/white-eclips.svg"></ion-img>
  </div>
  <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci</div>
  <div class="quantity">
    <div class="snack-quantity">
      <div class="add-remove-btn">-</div>
      <span class="value">02</span>
      <div class="add-remove-btn">+</div>
    </div>
    <div class="count">550</div>
  </div>
  <div class="submit-btn">
    <ion-button class="add-bill">Add to Bill</ion-button>
  </div>
</ion-content>
