<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mytrips">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="main">
      <div class="icon-container">
        <ion-img class="eclips" src="../../assets/Ellipse 7.png"></ion-img>
        <ion-img class="rocket" src="../../assets/Group 2906.png"></ion-img>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="search-crafts">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>