ion-tab-button{
    --color-selected: #C147E9;
}

.icon-container {
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
}

.eclips {
    position: relative;
    z-index: 1;
    width: 72px;
    height: 72px;
}

.rocket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40px;
    height: 40px;
}