<!-- <ion-header [translucent]="true" class="body">
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="body">
  <div class="arrow_back">
    <img src="../../../assets/icon/arrow_back_ios_new.svg">
  </div>
  <img src="../../../assets/icon/Ellipse 9.svg" class="profile">
  <h1 class="header">Welcome Back!</h1>
  <form>
    <div class="id">
      <ion-input placeholder="Neural-ID"></ion-input>
    </div>
      <div class="pass">
        <ion-input placeholder="Password"></ion-input>
      </div>
  </form>
  <img src="../../../assets/icon/Group 2912.svg" class="radio">
</ion-content>
