<ion-content>
  <div class="image-div">
    <img src="../../../assets/icon/Ellipse 9.svg" />
  </div>

  <h1>Welcome Back!</h1>
  <form [formGroup]="logInForm">

    <div class="input">
      <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
    </div>

    <div class="button">
      <ion-button (click)="login()">Login</ion-button>
      <span class="register" (click)="register()">Don't have an account?</span>
    </div>
  </form>
</ion-content>
