<!-- <ion-header [translucent]="true" class="body">
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="body">
  <div class="arrow_back">
    <img src="../../../assets/icon/arrow_back_ios_new.svg">
  </div>
  <img src="../../../assets/icon/Ellipse 9.svg" class="profile">
  <p class="header">Neura Creation</p>
  <form>
    <div class="name">
      <ion-input placeholder="Name"></ion-input>
    </div>
    <div class="id">
      <ion-input placeholder="Neural-ID"></ion-input>
    </div>
    <div class="pass">
      <ion-input placeholder="Password"></ion-input>
    </div>
  </form>
  <button class="finger">Figerprint</button>
  <div class="privacy"> 
    <div class="check">

      <label class="container">
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <p class="arg">I agree to the Terms & Conditions and Privacy Policy</p>
    </div>
  </div>
  <button class="signup">Sign up</button>
</ion-content>