ion-content {
  --background: linear-gradient(#2B1B59, #73298C);

  .back-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    margin-left: 24px;

    ion-button {
      width: 45px;
      height: 45px;
      border-radius: 10px;

      ion-icon {
        font-size: 25px;
        color: #1C1B1F;
      }
    }
  }

  .image-div {
    height: 150px;
    width: 150px;
    margin: 30px auto 0px auto;
    border-radius: 50%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  h1 {
    color: #FFF;
    --font-family: 'Poppins';
    font-size: 35px;
    font-weight: 700;
    margin-top: 40px;
    text-align: center;
  }

  .input {
    display: flex;
    width: 80%;
    height: 50px;
    padding: 10px 15px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background: rgba(255, 255, 255, 0.20);
    margin: 20px auto auto auto;
    color: rgba(229, 184, 244, 0.50);
    --font-family: "Poppins";
    font-size: 16px;
    font-weight: 300;
  }

  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0px auto;
    width: 50%;
    height: auto;
    flex-direction: column;

    .signup-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 50px;
    }
  }
}
