<ion-content>

  <div class="back-button" (click)="back()">
    <ion-button size="small" color="secondary">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="image-div">
    <img src="../../../assets/icon/Ellipse 9.svg" />
  </div>

  <h1>Neura Creation</h1>
  <form [formGroup]="signupForm">
    <div class="input">
      <ion-input placeholder="Name" type="text" formControlName="username"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
    </div>

    <div class="button-div">
      <ion-button class="signup-button" (click)="signup()">Signup</ion-button>
    </div>
  </form>
</ion-content>
