<ion-content>
  <div class="back-button" (click)="back()">
    <ion-button size="small" color="secondary">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>
  <h1>Booking Success</h1>
  <p>Your flight booked from {{selectedShip.fromPlanet}} to {{selectedShip.toPlanet}} success for {{noOfTickets}} seats</p>

  <ion-card>
    <ion-row class="heading">
      <span class="header">Invoice</span>
    </ion-row>
    <ion-row class="details">
      <ion-col class="destination" size="6">
         <span class="text-header">Destination</span>
         <span class="text">{{selectedShip.fromPlanet}} to {{selectedShip.toPlanet}}</span>
      </ion-col>
      <ion-col class="payment" size="6">
        <span class="text-header">Payment Date</span>
        <span class="text">{{today| date : 'dd MMMM YYYY'}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="seat-details">
      <span class="text-header">Seats</span>
      <span class="text">{{noOfTickets}} Seats - Premium Class</span>
    </ion-row>
    <ion-row class="order-details">
      <span class="order-text">Order No. {{bookingId}}</span>
    </ion-row>
    <div class="barcode-image">
      <img src="../../../assets/icon/Barcode.svg">
    </div>
  </ion-card>

  <div class="btn">
    <button class="trip-btn" color="secondary" (click)="myTrips()">My Trips</button>
  </div>

</ion-content>
