<!-- <ion-header [translucent]="true" class="body">
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="body">
  <div class="arrow_back" (click)="back()">
    <img src="../../../assets/icon/arrow_back_ios_new.svg">
  </div>
  <p class="header">Booking Success</p>
  <p class="detail">Your flight booked from Earth to Mars success for 2 seats</p>

  <div class="shape1">
    <p class="invo">Invoice</p>
    <div class="head1">
      <p class="des">Destination</p>
      <p class="pay">Payment Date</p>
    </div>
    <div class="head2">
      <p class="ear">Earth to Mars</p>
      <p class="date">12 August 2023</p>
    </div>
    <p class="seats">Seats</p>
    <p class="prem">2 Seats - Premium Class</p>
    <p class="order">Order No. 12222333444555</p>
    <img src="../../../assets/icon/Barcode.svg" class="barcode">
  </div>

  <button class="mytrips" (click)="myTrips()">My Trips</button>

</ion-content>