<ion-content>
  <div class="back-button">
    <ion-button size="small" fill="clear">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>

  <h1>Book your seats</h1>

  <ion-card>
    <ion-row>
      <ion-col class="first-col" size="6"> Business class </ion-col>
      <ion-col class="second-col" size="6"> 750k </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" fill="clear">A1</ion-button>
        <ion-button size="small" fill="clear">A2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" fill="clear" style="background-color: #F4E7B8;">A3</ion-button>
        <ion-button size="small" fill="clear">A4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" fill="clear" style="background-color: #B8F4E2;">B1</ion-button>
        <ion-button size="small" fill="clear">B2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" fill="clear">B3</ion-button>
        <ion-button size="small" fill="clear" style="background-color: #F4E7B8;">B4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6"> Economy class </ion-col>
      <ion-col class="second-col" size="6"> 250k </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" fill="clear" style="background-color: #B8F4E2;">C1</ion-button>
        <ion-button size="small" fill="clear" style="background-color: #E5B8F4;">C2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" fill="clear">C3</ion-button>
        <ion-button size="small" fill="clear" style="background-color: #F4E7B8;">C4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" fill="clear">D1</ion-button>
        <ion-button size="small" fill="clear" style="background-color: #F4E7B8;">D2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" fill="clear">D3</ion-button>
        <ion-button size="small" fill="clear" style="background-color: #B8F4E2;">D4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" fill="clear" style="background-color: #F4E7B8;">E1</ion-button>
        <ion-button size="small" fill="clear" style="background-color: #F4E7B8;">E2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" fill="clear" style="background-color: #F4E7B8;">E3</ion-button>
        <ion-button size="small" fill="clear" style="background-color: #B8F4E2;">E4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" fill="clear">F1</ion-button>
        <ion-button size="small" fill="clear">F2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" fill="clear">F3</ion-button>
        <ion-button size="small" fill="clear" style="background-color: #F4E7B8;">F4</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row class="booking-detail-main">
    <ion-col class="booking-detail" size="4">
      <div class="booked-seats"></div>
      <span class="text">Booked seats</span>
    </ion-col>
    <ion-col class="booking-detail" size="4">
      <div class="available-seats"></div>
      <span class="text">Available seats</span>
    </ion-col>
    <ion-col class="booking-detail" size="4">
      <div class="smart-choice"></div>
      <span class="text">Smart choice</span>
    </ion-col>
  </ion-row>

  <div class="footer">
    <ion-button fill="clear">Continue</ion-button>
  </div>
</ion-content>
