<ion-content>
  <div class="back-button">
    <ion-button size="small" color="secondary">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>

  <h1>Book your seats</h1>

  <ion-card>
    <ion-row>
      <ion-col class="first-col" size="6"> Business class </ion-col>
      <ion-col class="second-col" size="6"> 750k </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" color="secondary">A1</ion-button>
        <ion-button size="small" color="secondary">A2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" color="tertiary">A3</ion-button>
        <ion-button size="small" color="secondary">A4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" color="light">B1</ion-button>
        <ion-button size="small" color="secondary">B2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" color="secondary">B3</ion-button>
        <ion-button size="small" color="tertiary">B4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6"> Economy class </ion-col>
      <ion-col class="second-col" size="6"> 250k </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" color="light">C1</ion-button>
        <ion-button size="small" color="secondary">C2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" color="secondary">C3</ion-button>
        <ion-button size="small" color="tertiary">C4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" color="secondary">D1</ion-button>
        <ion-button size="small" color="tertiary">D2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" color="secondary">D3</ion-button>
        <ion-button size="small" color="light">D4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" color="tertiary">E1</ion-button>
        <ion-button size="small" color="tertiary">E2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" color="tertiary">E3</ion-button>
        <ion-button size="small" color="light">E4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="first-col" size="6">
        <ion-button size="small" color="secondary">F1</ion-button>
        <ion-button size="small" color="secondary">F2</ion-button>
      </ion-col>
      <ion-col class="second-col" size="6">
        <ion-button size="small" color="secondary">F3</ion-button>
        <ion-button size="small" color="tertiary">F4</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row class="booking-detail-main">
    <ion-col class="booking-detail" size="4">
      <div class="booked-seats"></div>
      <span class="text">Booked seats</span>
    </ion-col>
    <ion-col class="booking-detail" size="4">
      <div class="available-seats"></div>
      <span class="text">Available seats</span>
    </ion-col>
    <ion-col class="booking-detail" size="4">
      <div class="smart-choice"></div>
      <span class="text">Smart choice</span>
    </ion-col>
  </ion-row>

  <div class="footer">
    <ion-button>Continue</ion-button>
  </div>
</ion-content>
