<!-- <ion-header [translucent]="true" class="body">
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="body">
  <p class="header">NeuraPersona</p>
  <img src="../../../assets/icon/Ellipse 9.svg" class="profile">
  <div class="balance">
    <p class="neuid">1DGE67VH45</p>
  </div>
  <button class="purse">CyberNex Purse</button>
  <button class="astro">Astro Odesseys</button>
  <button class="feed">Feedback</button>

  <button class="signup">Sign up</button>
</ion-content>