<ion-content [fullscreen]="true">
  <div class="header-class" mode="md">
    <ion-img src="../../../assets/logo.png"></ion-img>
    <ion-title>
      <span class="bold-heading">Astro</span>
      <span class="normal-heading">Wander</span>
    </ion-title>
    <ion-avatar>
      <img src="../../../assets/profile.svg" />
    </ion-avatar>
  </div>
    <ion-searchbar class="search-class" placeholder="Search your destination" mode="md">
      <div class="searchbar-container">
        <ion-img class="searchbar-img" src="../../../assets/instant_mix.svg"></ion-img>
      </div>
    </ion-searchbar>
  <div class="content-header">
    <span class="main-heading">Discover</span>
    <span class="sub-heading">Similar trips you would love</span>
  </div>
  <div class="planets-container" (click)="overview()" mode="md">
    <div *ngFor="let planet of planets" class="card">
      <ion-card class="card-1" [style.background-image]="'url(../../../assets/' + planet.backgroundImage + ')'">
        <div class="card-content">
          <span class="card-heading-1">{{ planet.heading1 }}</span>
          <span class="card-heading-2">{{ planet.heading2 }}
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </span>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="button-container" mode="md">
    <ion-button>Explore Now</ion-button>
  </div>
  <div class="content-header">
    <span class="main-heading">More Flights</span>
    <span class="sub-heading">Similar trips you would love</span>
  </div>
  <div class="flights-container" mode="md">
    <div *ngFor="let flight of flights" class="flight-card">
      <ion-card class="card-2" [style.background-image]="'url(../../../assets/' + flight.backgroundImage + ')'">
        <ion-img class="fav-icon" src="../../../assets/ph_heart.png"></ion-img>
      </ion-card>
      <div class="flight-details">
        <span class="card-heading-1">{{ flight.heading1 }}</span>
        <div class="planet-detail">
          <span class="about-flight">{{ flight.heading2 }}<ion-icon class="circle-icon"
              name="radio-button-on"></ion-icon></span>
          <span class="days">{{ flight.heading3 }}</span>
        </div>
        <div>
          <span class="price">{{ flight.heading4 }}</span>
          <span class="trip-way">{{ flight.heading5 }}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>