<ion-content [fullscreen]="true" mode="md" class="class-bg">
  <div class="header-class">
    <ion-img src="../../../assets/logo.png"></ion-img>
    <ion-title>
      <span class="bold-heading">Astro</span>
      <span class="normal-heading">Wander</span>
    </ion-title>
    <ion-avatar>
      <img src="../../../assets/profile.svg" />
    </ion-avatar>
  </div>
    <ion-searchbar class="search-class" placeholder="Search your destination">
      <div class="searchbar-container">
        <ion-img class="searchbar-img" src="../../../assets/instant_mix.svg"></ion-img>
      </div>
    </ion-searchbar>
  <div class="content-header">
    <span class="main-heading">Discover</span>
    <span class="sub-heading">Similar trips you would love</span>
  </div>
  <div class="planets-container">
    <div *ngFor="let planet of planets" class="card">
      <ion-card class="card-1" [style.background-image]="'url(' + planet.image + ')'" (click)="overview()">
        <div class="card-content">
          <span class="card-heading-1">{{ planet.name }}</span>
          <span class="card-heading-2">{{ planet.day }} Day travel
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </span>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="button-container">
    <ion-button>Explore Now</ion-button>
  </div>
  <div class="content-header">
    <span class="main-heading">More Flights</span>
    <span class="sub-heading">Similar trips you would love</span>
  </div>
  <div class="flights-container">
    <div *ngFor="let flight of flights" class="flight-card">
      <ion-card class="card-2" [style.background-image]="'url(' + flight.image + ')'">
        <ion-img class="fav-icon" src="../../../assets/ph_heart.png"></ion-img>
      </ion-card>
      <div class="flight-details">
        <span class="card-heading-1">{{ flight.planetName }}</span>
        <div class="planet-detail">
          <span class="about-flight">{{ flight.code }}<ion-icon class="circle-icon"
              name="radio-button-on"></ion-icon></span>
          <span class="days">{{ flight.day }} day travel</span>
        </div>
        <div>
          <span class="price">${{ flight.price }}k</span>
          <span class="trip-way">{{ flight.type == 1 ? 'One way trip':'Two way trip' }}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>