<div>
  <ion-toolbar>
   <ng-container *ngIf="headerType == 1">
    <ion-img
    *ngIf="buttonType == 'menu'"
    (click)="toggleMenu()"
    style="margin-left: 10px"
    slot="start"
    src="assets/images/side-menu.png"
  >
  </ion-img>
  <ion-back-button
    *ngIf="buttonType == 'back'"
    style="--icon-font-size: 32px"
    slot="start"
  ></ion-back-button>
   </ng-container>
  
  </ion-toolbar>
  <ion-toolbar>
    <h1 style="font-size: 22px;" > <b >{{ title }}</b> </h1>
    <ng-container  *ngIf="headerType == 2">
      <ion-button style="margin-right: 5px;"
      (click)="dismiss()"
      color="light"
      slot="end"
      icon-only
      size="small"
    >
      <ion-icon name="close"></ion-icon>
    </ion-button>
     </ng-container>
  </ion-toolbar>
</div>
