<ion-card >
  <p style="text-align: center; width: 80%;">
    <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
  </p>
  <p  style="height: 100px; width: 100%; margin-bottom: 0;">
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </p>
<ion-list >
  <p style=" width: 100%;">
    <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
  </p>
  <p style=" width: 100%;">
    <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
  </p>
  <p style=" width: 100%;">
    <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
  </p>
</ion-list>
</ion-card>