.body {
    border-radius: 40px;
    --background: var(--bg, linear-gradient(180deg, #2B1B59 0%, #73298C 100%));
}

.header {
    width: 272px;
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 43.75px */
    margin-top: 20px;
    margin-left: 39px;
    margin-bottom: 0;
    display: -webkit-inline-box;
}

.profile {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 60px;
    background: lightgray -21.684px -4.765px / 169.347% 142.676% no-repeat, rgba(192, 166, 233, 0.70);
    margin-top: 12px;
    margin-right: 18px;
}

.shape1 {
    width: 350px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(18, 23, 29, 0.55);
    margin: 45px auto auto auto;
}

.invo {
    color: #FFF;

    /* Heading -4 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 16px;
    padding-left: 21px;
    margin-bottom: 0;
}

.des {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-right: 60px;
}
.pay {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-left: 60px;
}

.head1 {
    margin-top: 17px;
    text-align: center;
}

.head2 {
    margin-top: 0;
    text-align: center;
}

.ear {
    color: #FFF;

    /* Heading -4 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline;
    margin-right: 25px;
}

.date {
    color: #FFF;

    /* Heading -4 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline;
    margin-left: 25px;
}

.seats {
    color: #FFF;
    
    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 21.5px;
    margin-top: 17px;
    margin-bottom: 0;
}

.prem {
    color: #FFF;

    /* Heading -4 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 21.5px;
    margin-top: 0;
    margin-bottom: 0;
}

.order {
    width: 170px;
    height: 19px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Title 14 */
    font-family: Be Vietnam;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    margin: 22px auto auto auto;
}

.barcode {
    width: 217px;
    height: 40px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.shape2 {
    width: 350px;
    height: 278px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(18, 23, 29, 0.55);
    margin: 28px auto auto auto;
}