<!-- <ion-header [translucent]="true" class="body">
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="body">
  <p class="header">Astro Odysseys</p>

  <img src="../../../assets/icon/Ellipse 9.svg" class="profile">
  <div class="shape1">
    <p class="invo">Invoice</p>
    <div>
      <p class="des">Destination</p>
      <p class="pay">Payment Date</p>
    </div>
  </div>
  <div class="shape2">
  
  </div>

</ion-content>