.arrow_back {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #1C1B1F;
    margin-left: 32px;
    margin-top: 28px;
    border-radius: 12px;
    background: var(--primary-color-1, #E5B8F4);
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    padding-top: 8px;
    padding-left: 8px;
}

.body {
    border-radius: 40px;
    --background: var(--bg, linear-gradient(180deg, #2B1B59 0%, #73298C 100%));
}

.header {
    width: 272px;
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 43.75px */
    margin-top: 20px;
    margin-left: 24px;
}

.radio {
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    margin-top: 96px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}