.arrow_back {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #1C1B1F;
    margin-left: 24px;
    margin-top: 28px;
    border-radius: 12px;
    background: var(--primary-color-1, #E5B8F4);
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    padding-top: 8px;
    padding-left: 8px;
}

.body {
    border-radius: 40px;
    --background: var(--bg, linear-gradient(180deg, #2B1B59 0%, #73298C 100%));
}

.header {
    width: 272px;
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 43.75px */
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 0;
}

.shape1 {
    width: 350px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(18, 23, 29, 0.55);
    margin: 20px auto auto auto;
}

.des {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-right: 60px;
}

.pay {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-left: 60px;
}

.head1 {
    text-align: center;
    padding-top: 15px;
}

.head2 {
    margin-top: 0;
    text-align: center;
}

.head3  {
    margin-top: 8px;
    text-align: center;
}

.head4 {
    margin-top: 8px;
    text-align: center;
}

.head5 {
    margin-top: 8px;
    text-align: center;
}

.head6 {
    margin-top: 8px;
    text-align: center;
}

.head7 {
    margin-top: 0;
    text-align: center;
}

.gender2 {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-right: 70px;
}

.no3 {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-left: 70px;
}

.astro {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-right: 80px;
}

.no1 {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-left: 80px;
}

.astro1 {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-right: 50px;
}

.no4 {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-left: 50px;
}

.tick {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-right: 90px;
}

.no2 {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    margin-left: 90px;
}

.gender1 {
    color: #FFF;

    /* caption */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: contents;
    margin-right: 90px;
}

.drop {
    display: flex;
    width: 105px;
    height: 28px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    display: inline-flex;
    margin-left: 90px;
}

.label {
    margin-top: 5px;
}

.ear {
    color: #FFF;

    /* Heading -4 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline;
    margin-right: 25px;
}

.date {
    color: #FFF;

    /* Heading -4 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline;
    margin-left: 25px;
}

.line {
    width: 313.006px;
    height: 1px;
    background: #9CABC2;
    margin: 8px auto auto auto;
}

ion-button {
    display: flex;
    width: 164px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--primary-color-4, #2D033B);
    margin: 222px auto auto auto;
    color: var(--primary-color-1, #E5B8F4);

    /* Body text */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.balance {
    display: flex;
    padding: 15px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: rgba(18, 23, 29, 0.55);
    margin-top: 40px;
    height: 57px;
}