<!-- <ion-header [translucent]="true" class="body">
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="body">
  <div class="arrow_back">
    <img src="../../../assets/icon/arrow_back_ios_new.svg">
  </div>
  <p class="header">Astro Settle</p>

  <div class="shape1">
    <div class="head1">
      <p class="des">Destination</p>
      <p class="pay">Payment Date</p>
    </div>
    <div class="head2">
      <p class="ear">Earth to Mars</p>
      <p class="date">12 August 2023</p>
    </div>
    <div class="line"></div>
    <div class="head3">
      <p class="gender2">Wallet ID</p>
      <p class="no3">EAR123567849</p>
    </div>
    <div class="line"></div>
    <div class="head4">
      <p class="gender1">Select coin type</p>
      <ion-list class="drop">
        <ion-item>
          <ion-select>
            <div slot="label" class="label"><img src="../../../assets/icon/currency.svg"></div>
            <ion-select-option value="celestiacoin">CelestiaCoin</ion-select-option>
            <ion-select-option value="stellarbits">StellarBits</ion-select-option>
            <ion-select-option value="astrocredits">AstroCredits</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    <div class="line"></div>
    <div class="head5">
      <p class="astro">AstroCredits</p>
      <p class="no1">200,000</p>
    </div>
    <div class="head6">
      <p class="tick">Ticket Price</p>
      <p class="no2">10,000</p>
    </div>
    <div class="line"></div>
  </div>
  <div class="balance">
    <div class="head7">
      <p class="astro1">AstroCredits Balance</p>
      <p class="no4">190,000</p>
    </div>
  </div>
  <ion-button>My Trips</ion-button>


