
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="body">
  <div class="arrow_back" (click)="back()">
    <img src="../../../assets/icon/arrow_back_ios_new.svg">
  </div>
  <p class="header">Astro Settle</p>

  <div class="shape1">
    <div class="head1">
      <p class="des">Destination</p>
      <p class="pay">Payment Date</p>
    </div>
    <div class="head2">
      <p class="ear">{{selectedShip?.fromPlanetCode}} to {{selectedShip?.toPlanetCode}}</p>
      <p  class="date">{{today| date : 'dd MMMM YYYY' }}</p>
    </div>
    <!-- <div class="line"></div>
    <div class="head3">
      <p class="gender2">Wallet ID</p>
      <p class="no3">EAR123567849</p>
    </div> -->
    <div class="line"></div>
    <div class="head4">
      <p class="gender1">Select coin type</p>
      <ion-list class="drop">
        <ion-item>
          <ion-select [(ngModel)]="selectedCoin" >
            <div slot="label" class="label"><img src="../../../assets/icon/currency.svg"></div>
            <ion-select-option value="celestiaCoin">CelestiaCoin</ion-select-option>
            <ion-select-option value="stellarBits">StellarBits</ion-select-option>
            <ion-select-option value="astroCredits">AstroCredits</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    <div class="line"></div>
    <div class="head5">
      <p class="astro">{{getCoinName(selectedCoin)}}</p>
      <p class="no1">{{this.userDetails[selectedCoin] || '0'}}</p>
    </div>
    <div class="head6">
      <p class="tick">Total Price</p>
      <p class="no2">{{totalPrice}}k</p>
    </div>
    <div class="line"></div>
  </div>
  <div class="balance">
    <div class="head7">
      <p class="astro1">AstroCredits Balance</p>
      <p class="no4">{{this.userDetails[selectedCoin] ? this.userDetails[selectedCoin] - totalPrice : 0}}</p>
    </div>
  </div>
  <ion-button [disabled]="totalPrice > this.userDetails[selectedCoin]"  (click)="purchase()">Purchase</ion-button>


